@charset "UTF-8";

.bodywrap {
	height: 890px;
}
.main-img {
	width: 100%;
	height: 380px;
	position: relative;
}
.main-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-logo {
	position: absolute;
	bottom: 10px;
	left: 380px;
	display: inline-block;
}
.logo-text {
	font-size: 67px;
	font-style: italic;
	color: #f1ebe5;
	text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
	letter-spacing: -4px;
}
@keyframes open {
	0% {
		height: 30px;
		width: 0;
	}
	100% {
		height: 30px;
		width: 150px;
  	}
}
.aladin {
	overflow: hidden;
	white-space: nowrap;
	animation: open 1.3s ease-in-out forwards;
	display: inline-block;
	font-size: 26px;
	color: #000;
	margin-left: 10px;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.aladin:hover {
	opacity: 0.7;
}
.shortcut {
	width: 1150px;
	margin-top: 25px;
}
.shortcut div {
	margin: 15px 0px;
}
.shortcut a {
	font-style: italic;
	font-size: 25px;
}
.shortcut a:hover {
	opacity: 0.7;
}
.shortcut i {
	margin-right: 10px;
	font-size: 20px;
}
.book-list i {
	color: #958d82;
}
.book-search i {
	color: #804000;
}
.write-review i {
	color: #9d785b;
}