@charset "utf-8";
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../font/PretendardVariable.woff2') format('woff2-variations');
}
* {
    margin: 0 auto;
    list-style: none;
    font-family: Georgia, serif;
    color: #400000;
}
a {
	text-decoration: none;
}
.bodywrap {
	margin: 160px 0px 190px;
}
.signup-form {
    width: 322px;
    height: 500px;
    text-align: center;
}
.signup-form h1 {
	font-weight: 500;
	text-align: left;
	color: #400000;
}
.signup-form hr {
    margin: 15px 0px 20px;
    color: #757575;
}
.input-form div {
    height: 40px;
    border: 1px solid #757575;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 290px;
    float: left;
    display: inline-block;
    text-align: left;
    padding: 0px 15px;
}
.input-form div:focus-within {
    border-color: #400000;
}
.input-form div:focus-within i, .input-form div:focus-within button {
    color: #400000;
}
.input-form div i {
    font-size: 18px;
    color: #757575;
}
.input-form div input {
    height: 40px;
    border: none;
    background-color: #fff;
    padding: 0px 10px;
    font-size: 15px;
    width: 180px;
}
.input-form div input:focus {
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}
.input-form div button {
    color: #757575;
    background-color: #fff;
    border: none;
}
.input-form div button:hover {
    color: #400000;
}
.signup {
    width: 85px;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
    color: #400000;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    line-height: 40px;
    margin-top: 10px;
    border: none;
    margin-left: 175px;
    padding: 0;
}
.behind {
    width: 58px;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
    color: #400000;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    line-height: 40px;
    margin-top: 10px;
}
.input-form a {
    display: inline-block;
}
.agree {
    margin-left: 5px;
}
.showPassword {
	margin-left: 30px;
}
.condition {
	font-size: 11px;
	margin-top: 5px;
	margin-left: 20px;
}