@charset "UTF-8";

.bodywrap {
	width: 1100px;
	height: auto;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 400px; /* 내용의 최대 높이 설정 */
    overflow-y: auto; /* 내용이 최대 높이를 넘어갈 경우 스크롤 표시 */
}

/* 팝업 배경 스타일 */
.popup-background {
    display: none; /* 처음에는 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}