<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="book">

	<insert id="insert" parameterType="bookVO">
		insert into book_list values
		(#{author}, #{isbn}, #{link}, #{description}, #{title}, #{pubDate}, #{categoryName}, #{customerReviewRank}, #{cover}, #{itemId}, 
		#{isbn13}, #{publisher}, #{priceSales}, #{adult}, #{categoryId}, #{priceStandard}, #{bestRank}, #{type}, #{getApiDate})
	</insert>
	
	<delete id="delete">
		delete from book_list
	</delete>
	
	<select id="bookList" resultType="bookVO">
		select * from book_list
	</select>
	
	<select id="bookAllList" parameterType="int" resultType="bookVO">
		select * from book_list
        where type = #{type}
	</select>
	
	<select id="bookDetail" parameterType="bookVO" resultType="bookVO">
		select * from book_list
		where itemId = #{itemId}
	</select>
	
	<insert id="reviewInsert" parameterType="bookReviewVO">
		insert into book_review (email, itemId, quotation, review)
		values (#{email}, #{itemId}, #{quotation}, #{review})
	</insert>
	
</mapper>